* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1a1a1a;
    --dark-color: #2a2a2a;
    --light-complement-color: #90fff7;
    --dark-complement-color: #00b294;
}

a {
    color: var(--light-complement-color);
    text-decoration: none;
}

a:hover {
    color: var(--light-complement-color);
    text-decoration: underline;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--dark-color);
    font-family: 'Segoe UI', sans-serif;
}

.main {
    background-color: white;
    width: 800px;
    margin-top: 80px;
    margin-bottom: 80px;
    box-shadow: 0px 0px 30px 18px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 0;
    grid-template-areas:
        'tribute_name'
        'photography_cover'
        'timeline';
}

.cover__name {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: 700;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    grid-area: tribute_name;
}

.cover__image-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.cover__image {
    width: 40%;
    max-width: 1800px;
}

.cover__caption {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin: 32px;
    color: var(--dark-complement-color);
}

.timeline {
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media (max-width: 800px) {
    .main {
        background-color: white;
        width: 800px;
        margin: 0px;
    }
    .cover__image-box {
        flex-wrap: wrap;
    }
    .cover__image {
        display: block;
        margin: auto;
        width: 100%;
    }
}

.timeline__title {
    margin-top: 40px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
}

.timeline__list {
    margin: 0px 20px;
    font-size: 1.2em;
    font-weight: 400;
    list-style: none;
}

.timeline__list > li {
    margin: 2rem 0rem;
}

.timeline__list b {
    color: var(--dark-complement-color);
    font-weight: 700;
}

.timeline__references {
    background-color: var(--primary-color);
    color: white;
    font-weight: 400;
    padding: 30px;
    text-align: center;
}
