body {
	background-color: rgb(246, 246, 246);
	font-family: 'Segoe UI', sans-serif;
}

.cover {
	text-align: center;
}

.title-tribute-person {
	font-size: 3em;
	margin: 0.5em;
	font-weight: 300;
}

.description-tribute-person {
	font-size: 1.5em;
}

.image-tribute-person {
	display: block;
	margin: auto;
	width: 40%;
	padding: 1rem;
}

.subtitle-tribute-person {
	font-size: 1.4em;
}

.timeline {
	display: block;
	margin: auto;
	width: 50%;
}

.timeline-list {
	font-size: 1.2em;
}

.timeline-list > li {
	margin: 2rem 0rem;
}

.timeline-list b {
	color: #414141;
	font-weight: 600;
}